*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fffdfa;
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
}
button{
    cursor: pointer;
}

/* TOP MENU */

#top-bar{
    display: flex;
    justify-content: space-between;
    margin: 25px 30px 80px 30px;
}
#top-bar img{
    cursor: pointer;
}
.menu-item {
    color: black;
    text-decoration: none;
    padding: 5px;
    margin-right: 8px;
}
.menu-item.selected{
    border-bottom: 1px solid black;
}
#desktop-menu button{
    color: #79A7F3;
    background: white;
    border: 2px solid #79A7F3;
    padding: 9px 20px;
    margin-left: 30px;
    border-radius: 30px;
    font-family: inherit;
    font-weight: inherit;
    font-size: unset;
    transition: all .2s;
}
#desktop-menu button:hover{
    color: white;
    background: #79A7F3;
}
#mobile-top-bar{
    background: #D7E3F8;
    padding: 14.5px 20px;
    text-align: right;
    display: none;
}
#mobile-burger{
    display: none;
}

/* BANNER */

#banner{
    display: flex;
    align-items: center;
}
#banner > *{
    width: 50%;
}
#banner img{
    height: auto;
}
#banner-text{
    padding-left: 50px;
}
#banner-text h1{
    font-size: 50px;
    line-height: 55px;
    font-weight: inherit;
    margin-bottom: 20px;
}
#banner-text h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
#banner-text button{
    color: white;
    background: #79A7F3;
    border: none;
    padding: 17px 50px;
    border-radius: 50px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    transition: all .2s;
}

/* ADAPTATIVE */

@media (max-width: 980px){
    #desktop-menu{
        display: none;
    }
    #mobile-top-bar{
        display: block;
    }
    #mobile-burger{
        display: block;
    }

    #banner-text{
        padding-left: 25px;
    }
    #banner-text h1{
        font-size: 28px;
        line-height: 33px;
    }
    #banner-text h2{
        font-size: 18px;
        margin-bottom: 30px;
    }
    #banner-text button{
        font-size: 18px;
        padding: 16px 35px;
    }
}